.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
    // background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-image: url(https://cdn.dribbble.com/users/472667/screenshots/16430786/media/b0cc4877b864b9311027f497020c75fe.png?compress=1&resize=1200x900&vertical=top);
    height: 700px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
            
			 font-size:80px;
}
			 
.link_404{			 
color: #fff!important;
padding: 10px 20px;
background: coral;
margin: 20px 0;
display: inline-block;
}
.contant_box_404{ 
    margin-top:20px;
}